<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insights">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BobiPet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".TasksActivity" />
        <activity android:name=".BusActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FormularActivity" />
        <activity android:name=".Tutorial2Activity" />
        <activity android:name=".CustomActivity" />
        <activity android:name=".Tutorial1Activity" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".MeniuActivity" />
        <activity android:name=".StatsActivity"/>
        <activity android:name=".AchivementActivity"/>
        <activity android:name=".Achivement2Activity"/>
        <activity android:name=".Stats1Activity"/>
        <activity android:name=".RecyclerViewActivity"/>
        <activity android:name=".ItemsListener"/>
        <activity android:name=".ItemsAdapter"/>
        <activity android:name=".AddToCartActivity"/>
        <activity android:name=".Item"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tutorial3Activity" />
        <activity android:name=".Tutorial4Activity" />
        <activity android:name=".Tutorial5Activity" />
        <activity android:name=".Tutorial6Activity" />
        <activity android:name=".Timer" />
        <activity android:name=".ColectioNActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".QuestsActivity" />
        <activity android:name=".Notes" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".NoteEditorActivity" />
        <activity android:name=".ProfileActivity" />

        <service android:name=".SoundService" />
    </application>

</manifest>